<!DOCTYPE html>
<html lang="en">
<head>

     <title>de'hok | Hoax News Detection</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/dehok.css') }}">

</head>
<body>

     <!-- Navigation Bar -->
     <nav class="navbar navbar-expand-lg position-absolute">
          <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <i class="fa fa-line-chart"></i>
                de`hok
              </a>
  
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
  
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                          <a href="{{ url_for('index') }}" class="nav-link smoothscroll">Home</a>
                      </li>
                      <li class="nav-item">
                          <a href="{{ url_for('aboutUs') }}" class="nav-link">About Us</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>


     <!-- Banner -->
     <section class="banner banner-bg d-flex justify-content-center align-items-center">
        <div class="container">
             <div class="row">
                 <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center">
                       <div class="banner-text">
                            <h1 class="text-white" data-aos="fade-up">Why are we
                            <br><strong>Here ...</strong></h1>
                       </div>
                 </div>
                 <div class="col-lg-6 col-12">
                   <div class="banner-image" data-aos="fade-up" data-aos-delay="300" style="margin-top: 60px;">
                     <img src="{{ url_for('static', filename='images/icon-banner2.png') }}" class="img-fluid" alt="laptop-fake-news">
                   </div>
                 </div>

             </div>
        </div>
    </section>

    <!-- Description -->
    <section class="description section-padding">
        <div class="container">
             <div class="row">
                       <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Description</h4>
                       <p>
                       <h5 data-aos="fade-up" data-aos-delay="300">
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                            <br>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                            <br>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                            <br>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                            <br>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                            <br>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo.
                       </h5>
                       </p>
             </div>
        </div>
    </section>

    <!-- Purpose -->
    <div id="purpose">
        <img src="{{ url_for('static', filename='images/purpose.png') }}" id="purpose-img" alt="project image" data-aos="fade-right">
        <div id="purpose-details">
            <h4 data-aos="fade-up" data-aos-delay="100">purpose</h4>
            <p data-aos="fade-up" data-aos-delay="300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pretium dui. Suspendisse hendrerit quam nibh, finibus laoreet orci facilisis 
                iaculis. Etiam justo orci, ultricies non est non, venenatis pharetra eros. Ut sodales semper nisl et commodo. Nam placerat placerat odio, in 
                hendrerit leo tempus non. Maecenas lobortis a nibh suscipit suscipit. Donec sed magna leo. In hac habitasse platea dictumst. Mauris vulputate nisi 
                molestie, laoreet erat in, ultrices nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse 
                blandit ligula velit, id pretium erat accumsan nec. Sed malesuada neque at dolor interdum maximus. Cras laoreet sagittis lacus, in dignissim lacus 
                dapibus eget. Pellentesque non volutpat mi. Vestibulum eget enim nec enim iaculis consectetur sit amet bibendum mi. Nunc in eleifend tellus.
            </p>
        </div>
    </div>

     <!-- What We Do -->
    <div id="what-we-do">
        <div id="what-we-do-details">
            <h4 data-aos="fade-up" data-aos-delay="100">what we do</h4>
            <p data-aos="fade-up" data-aos-delay="300">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pretium dui. Suspendisse hendrerit quam nibh, finibus laoreet orci facilisis 
                iaculis. Etiam justo orci, ultricies non est non, venenatis pharetra eros. Ut sodales semper nisl et commodo. Nam placerat placerat odio, in 
                hendrerit leo tempus non. Maecenas lobortis a nibh suscipit suscipit. Donec sed magna leo. In hac habitasse platea dictumst. Mauris vulputate nisi 
                molestie, laoreet erat in, ultrices nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse 
                blandit ligula velit, id pretium erat accumsan nec. Sed malesuada neque at dolor interdum maximus. Cras laoreet sagittis lacus, in dignissim lacus 
                dapibus eget. Pellentesque non volutpat mi. Vestibulum eget enim nec enim iaculis consectetur sit amet bibendum mi. Nunc in eleifend tellus.
            </p>
        </div>

        <img src="{{ url_for('static', filename='images/what-we-do.png') }}" id="purpose-img" alt="project image" data-aos="fade-left">
    </div>

    <!-- Developer Member -->
    <section class="project section-padding" id="project">
    <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12 col-12">

                    <h2 class="mb-5 text-center" data-aos="fade-up">
                        Developer Member<br>
                        <strong>Hoax News Detection</strong>
                    </h2>

                    <div class="owl-carousel owl-theme" id="project-slide">
                        <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">

                                <div class="project-info">
                                    <small>191524005</small>

                                    <h3>
                                        <a href="https://www.instagram.com/amalja0/">
                                            <span>Amalia Hajarani</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>

                        <div class="item project-wrapper" data-aos="fade-up">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">

                                <div class="project-info">
                                    <small>191524008</small>

                                    <h3>
                                        <a href="https://www.instagram.com/farrajessica_/">
                                            <span>Farra Jessica</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>

                        <div class="item project-wrapper" data-aos="fade-up">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">


                                <div class="project-info">
                                    <small>191524015</small>

                                    <h3>
                                        <a href="https://www.instagram.com/kartikssssss/">
                                            <span>Kartika Milenda</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>

                        <div class="item project-wrapper" data-aos="fade-up">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">

                                <div class="project-info">
                                    <small>191524016</small>

                                    <h3>
                                        <a href="https://www.instagram.com/larasrasdiyani/">
                                            <span>Laras Rasdiyani</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>

                        <div class="item project-wrapper" data-aos="fade-up">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">

                                <div class="project-info">
                                    <small>191524017</small>

                                    <h3>
                                        <a href="https://www.instagram.com/lindadmynt/">
                                            <span>Linda Damayanti</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>

                        <div class="item project-wrapper" data-aos="fade-up">
                                <img src="{{ url_for('static', filename='images/members/members.jpg') }}" class="img-fluid" alt="project image">

                                <div class="project-info">
                                    <small>191524019</small>

                                    <h3>
                                        <a href="https://www.instagram.com/icamarissa24/">
                                            <span>Marrissa Nur Amalia</span>
                                            <i class="fa fa-instagram project-icon"></i>
                                        </a>
                                    </h3>
                                </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </section>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                    <h2 class=data-aos="fade-up" data-aos-delay="100"><strong><b>de'hok</b></strong></h2>
                    <h2 class="text-white" data-aos="fade-up" data-aos-delay="100">Hoax News Detector</h2>
                    <a class="text-white" data-aos="fade-up" data-aos-delay="100">Let's Stop the Domino Effect of Spreading Hoax News</a>
                </div>

                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                    <h4><strong>Contact  Info</strong></h4>

                    <p class="text-white" class="mb-1">
                        <a class="fa fa-phone mr-2 footer-icon"></a>
                        081222333444
                    </p>

                    <p>
                    <a href="#">
                        <i class="fa fa-envelope mr-2 footer-icon"></i>
                        de'hok@company.com
                    </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="text-white"><strong>Our Office</strong></h4>

                    <p class="text-white" class="mb-1">
                    <i class="fa fa-home mr-2 footer-icon"></i> 
                    Bandung
                    </p>
                </div>

                <div class="col-lg-4 mx-lg-auto col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                    <a class="text-white"><p class="copyright-text">Copyright &copy; 2021 de'hok</a>
                    <br>
                    <!-- <a class="text-white" rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p> -->
                </div>

                <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                    <ul class="footer-link">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('aboutUs') }}">About Us</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                    <ul class="social-icon">
                        <li><a href="#" class="fa fa-instagram"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                        <li><a href="#" class="fa fa-behance"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>