<!DOCTYPE html>
<html lang="en">
<head>

     <title>de'hok | Hoax News Detector</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-digital-trend.css') }}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
              <i class="fa fa-line-chart"></i>
              <b>de'hok</b>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('index') }}" class="nav-link smoothScroll">Home</a>
                    </li>
                    <li class="nav-item">
                         <a href="{{ url_for('contact') }}" class="nav-link">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">
                                   <h1 class="text-white" data-aos="fade-up"><b>de'hok</b></h1>
                                   <h1 class="text-white" data-aos="fade-up">Hoax News Detector</h1>
                                   <p class="text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-1"></i>Let's Stop the Domino Effect of Spreading Hoax News</p>
                                   <a href="#checkNews" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Check Now!</a>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
                            <img src="{{ url_for('static', filename='images/working-girl.png') }}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="checkNews">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="news-input">
                         </div>

                         <div class="button" data-aos="fade-up" data-aos-delay="200" id="button">
                        </div>

                    </div>
               </div>
          </div>
     </section>


     <!-- PROJECT -->
     <section class="project section-padding" id="project">
          <div class="container-fluid">
               <div class="row">

                    <div class="col-lg-12 col-12">

                         <div class="owl-carousel owl-theme" id="project-slide">
                              <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                                   <img src="{{ url_for('static', filename='images/project/project-image01.jpg') }}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Marketing</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Sweet Go Agency</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{{ url_for('static', filename='images/project/project-image02.jpg') }}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Website</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Smart Ladies</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{{ url_for('static', filename='images/project/project-image03.jpg') }}" class="img-fluid" alt="project image">


                                   <div class="project-info">
                                        <small>Branding</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Shoes factory</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{{ url_for('static', filename='images/project/project-image04.jpg') }}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Social Media</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Race Bicycle</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>

                              <div class="item project-wrapper" data-aos="fade-up">
                                   <img src="{{ url_for('static', filename='images/project/project-image05.jpg') }}" class="img-fluid" alt="project image">

                                   <div class="project-info">
                                        <small>Video</small>

                                        <h3>
                                             <a href="project-detail.html">
                                                  <span>Ultimate HealthCare</span>
                                                  <i class="fa fa-angle-right project-icon"></i>
                                             </a>
                                        </h3>
                                   </div>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>


     <!-- TESTIMONIAL -->
     <section class="testimonial section-padding">
          <div class="container">
               <div class="row">

                    <div class="col-lg-6 col-md-5 col-12">
                        <div class="contact-image" data-aos="fade-up">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-7 col-12">
                    </div>

               </div>
          </div>
     </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h2 class=data-aos="fade-up" data-aos-delay="100"><strong><b>de'hok</b></strong></h2>
            <h2 class="text-white" data-aos="fade-up" data-aos-delay="100">Hoax News Detector</h2>
            <a class="text-white" data-aos="fade-up" data-aos-delay="100"><i class="fa fa-phone mr-1"></i>Let's Stop the Domino Effect of Spreading Hoax News</a>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
          <h4><strong>Contact  Info</strong></h4>

            <p class="text-white" class="mb-1">
              <a class="fa fa-phone mr-2 footer-icon"></a>
              081222333444
            </p>

            <p>
              <a class="text-white" href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                de'hok@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
          <h4 class="text-white"><strong>Our Office</strong></h4>

            <p class="text-white" class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i> 
              Bandung
            </p>
          </div>

          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
          <a class="text-white"><p class="copyright-text">Copyright &copy; 2021 de'hok</a>
            <br>
            <!-- <a class="text-white" rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a></p> -->
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
            
            <ul class="footer-link">
              <li><a class="text-white" href="{{ url_for('index') }}">Home</a></li>
              <li><a class="text-white" href="{{ url_for('contact') }}">About Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="#" class="fa fa-instagram"></a></li>
              <li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>
            </ul>
          </div>

        </div>
      </div>
    </footer>


     <!-- SCRIPTS -->
     <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
     <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
     <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
     <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>
</html>